<!DOCTYPE html>
<html>
<head>
    <title>Edit Customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="form-box">
        <h2>Edit Customer</h2>

        <form method="POST">
            <input type="text" name="name" value="{{customer.name}}" required>
            <input type="email" name="email" value="{{customer.email}}" required>
            <input type="text" name="phone" value="{{customer.phone}}" required>

            <button type="submit">Update Customer</button>
        </form>

        <a href="/" class="button">← Back to Dashboard</a>
    </div>
</div>

</body>
</html>